service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{document=**} {
      allow read: if request.auth != null;
      allow create, update: if request.auth != null
        && request.resource.data.u == request.auth.token.sub
        && (request.resource.data.m is string
        && request.resource.data.m.size() <= 800);
      allow delete: if false;
    }
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    match /fcmTokens/{token} {
      allow read: if false;
      allow write;
    }
  }
}
