/* Copyright © Imesh Chamara 2019 */
@import 'main.scss';
.main .cont {
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	&, > *{
		min-height: 0px;
	}
	.home {
		width: 80%;
		max-width: 600px;
		span {
			display: block;
			width: 100%;
			text-align: center;
		}
		> div{
			margin: 0 auto;
			&.c1 {
				background-image: url('/images/artboard-10-512px.png');
				width: 80vw;
				height: 60vw;
				max-width: 512px;
				max-height: 384px;
				background-size: cover;
				background-position: center center;
			}
			&:not(.c1) {
				width: 80%;
				max-width: 280px;
				&, > * {
					display: block;
				}
				> * {
					width: 100%;
				}
			}
		}
	}
	span.c1 {
		font-size: 28px;
		font-weight: 500;
		color: col(light-9);
	}
	.messages {
		display: block;
		width: 100%;
		height: calc(100vh - 48px);
		//background-image: url('http://wallpapers.net/web/wallpapers/glowing-mask-at-the-dark-hd-wallpaper/thumbnail/lg.jpg');/*url('https://images2.alphacoders.com/713/thumb-1920-713297.png');*/
		background-position: center top;
		background-size: cover;
		> .c1 {
			display: block;
			width: 100%;
			height: calc(100vh - 90px);
			overflow-y: auto;
			scroll-behavior: smooth;
			> .c1 {
				display: none;
			}
		}
		> .c2 {
			display: flex;
			flex-direction: row;
			position: absolute;
			bottom: 0;
			height: 48px;
			width: 100%;
			> * {
				box-sizing: border-box;
				border: 0;
				box-shadow: 0 0 10px #0004;
			}
			input {
				width: calc(100% - 58px);
				box-sizing: border-box;
				padding: 4px 8px;
				margin: 10px 10px 10px;
				border-radius: 14px;
				border: 1px solid #555;
				outline: none;
				&:focus {
					border: 1px solid col(light-5);
				}
			}
			button {
				width: 40px;
				height: 40px;
				padding: 6px;
				margin: 4px;
				transition-duration: $default-transition;
				border-radius: 50%;
				background-color: col(light-5);
				color: #fff;
				border: 1px solid col(light-5) !important;
				outline: none;
				&:active {
					color: col(light-5);
					background-color: #fff;
					box-shadow: 0 0 14px #0006;
				}
			}
		}
		.ms {
			width: 100%;
			div.con {
				display: block;
				margin-top: 10px;
				width: calc(100% - 46px);
			}
			span {
				&:nth-child(1) {
					display: inline-block;
					padding: 4px 8px;
					background-color: #e6e6e6;
					border-radius: 6px;
					font-size: 14px;
					max-width: 68%;
					word-wrap: break-word;
					max-height: 400px;
					overflow-y: hidden;
					&:hover {
						overflow-y: auto;
					}
					img {
						max-width: 100%;
					}
				}
				&:nth-child(2) {
					display: block;
					font-size: 10px;
				}
				a {
					color: col(light-6);
					text-decoration: none;
				}
			}
		}
		.m1 {
			display: flex;
			flex-direction: row;
			> div {
				flex-shrink: 0;
				flex-grow: 0;
				&:nth-child(1) {
					display: block;
					width: 34px;
					height: 34px;
					background-size: cover;
					background-image: url('/images/avatar/default.gif');
					background-position: top center;
					border: 2px solid col(light-9);
					border-radius: 50%;
					margin: 4px;
					cursor: pointer;
				}
			}
		}
		.m2 {
			div.con {
				width: calc(100% - 10px);
				display: flex;
				flex-direction: column;
			}
			span {
				text-align: right;
				&:nth-child(1) {
					margin-left: auto;
				}
				&:nth-child(2) {
					margin-bottom: 10px;
				}
			}
		}
		.m-all {
			display: block;
			> * {
				display: block;
				cursor: pointer;
				margin: 0 auto;
				border: 0;
				background-color: #fff0;
				padding: 6px 12px;
				> * {
					color: col(light-7);
				}
			}
		}
	}
}
#profiles, #image {
	z-index: 2;
	> div {
		display: flex;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #0009;
		flex-direction: column;
		justify-content: center;
		cursor: url('/images/close.png') 11 11, pointer;
		> div {
			background-color: #fff;
			box-shadow: 0 0 10px #0006;
			border-radius: 16px;
			overflow-y: auto;
			cursor: initial;
		}
	}
}
#profiles > div {
	> div {
		padding: 10px 20px;
		min-height: 10px;
		&, > * {
			display: block;
			margin: 10px auto;
			text-align: center;
		}
	}
	.a {
		width: 30vw;
		height: 30vw;
		max-width: 280px;
		max-height: 280px;
		background-position: center top;
		background-size: cover;
		border-radius: 50%;
		background-image: url('/images/avatar/default.gif');
	}
	span {
		font-size: 19px;
		max-width: 80vw;
		word-wrap: break-word;
		max-height: 60vh;
		overflow-y: auto;
	}
	a {
		margin: 0 auto 10px;
		text-decoration: none;
		display: inline-block;
		background-color: col(light-6);
		padding: 6px 12px;
		color: #fff;
		border-radius: 18px;
	}
}
#image > div {
	> div {
		max-width: 80%;
		margin: 0 auto;
		padding: 20px 20px 10px 20px;
		> div {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
	img {
		width: 100%;
		max-width: 480px;
		max-height: 600px;
		/*box-shadow: 0 0 10px #0008;*/
		background-image: url("/images/avatar/default.gif");
		background-size: cover;
		background-position: center top;
		min-width: 180px;
		min-height: 180px;
	}
	.a {
		display: block;
		width: 60vw;
		height: 60vw;
	}
}
